body {
    width: 100vw;
    background-color: rgb(37,37,37);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
}


/* Header */
header {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(37,37,37);
}
.headLeftSide{
    display: flex;
    padding: 0px 0px 0px 15px;
}
.headRightSide{
    display: flex;
    padding: 0px 15px 0px 0px;
}


/* Nav */
nav {
    width: 100vw;
    height: auto;
    background-color:  rgb(37,37,37);
    display: flex;
    flex-direction: row;
}
.navRightSide{
    display: flex;
    flex-direction: row;
}
.navRightSide p {
    padding: 10px 10px 0px 10px;
    font-size: 13px;
    color: rgb(255, 255, 255);
}
.scottsLogo {
    padding: 10px;
    width: 80px;
    height: 25px;
}
.notifications {
    width: 100vw;
    height: auto;
    background-color: rgb(35, 152, 163);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.not1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
}
.not2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
}
.not3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
}
.notifications p {
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 0;
    margin: 4px;
}


/* Sam Fender */
.samFender {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    background-color:  rgb(37,37,37);
    position: relative;
    
}
.samImg{
    width: 100vw;
    height: auto;
}
.samContent {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px;
}
.samLogoImg {
    width: 40%;
    height: auto;
    padding: 0;
    margin: 0;
}
.samContentH1 {
    color: rgb(255, 255, 255) !important;
    margin: 0;
    padding: 5px;
    font-size: 24px;
    font-weight: 100;
}
.samContentH2 {
    color: rgb(255, 255, 255) !important;
    margin: 0;
    padding: 0px 0px 0px 5px;
    font-size: 18px;
    font-weight: 50;
}


/* Get Gifting */
.getGifting {
    width: 100vw;
    height: auto;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.getGiftingH1 {
    color: rgb(110, 221, 252);
    font-weight: 100;

}
.choiceH1 {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 200;
}
.choiceH2 {
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 100;
}
.options {
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
}
.choice {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
}
.optionsImg {
    width: 100%;
    height: auto;
}
.button {
    background-color: rgb(255, 255, 255);
    padding: 16px 24px;
    margin: 60px 0px 20px 0px;
    border: none;
}


/* products */
.products {
    width: 100vw;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
}
.products1{
    width: 50%;
    position: relative;
}
.products2{
    width: 50%;
    position: relative;
}
.products img {
    width: 100%;
    height: auto;
}
.productContent {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 30px;
}
.productContent h1 {
    color: rgb(255, 255, 255);
}
.productContent h2 {
    color: rgb(255, 255, 255);
}


/* Brands */
.brands {
    width: 100vw;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.brandsH1 {
    color: rgb(0, 0, 0);
}
.brandLogos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.brandLogos img {
    width: 150px;
    height: auto;
}


/* Harvey */
.harveyJayDodgson {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    background-color:  rgb(37,37,37);
    position: relative;
    
}
.harvFit{
    width: 100vw;
    height: auto;
}
.harvContent {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px;
}
.harvLogoImg {
    width: 70%;
    height: auto;
    padding: 0;
    margin: 0;
}
.harvContentH1 {
    color: rgb(255, 255, 255) !important;
    margin: 0;
    padding: 5px;
    font-size: 24px;
    font-weight: 100;
}
.harvContentH2 {
    color: rgb(255, 255, 255) !important;
    margin: 0;
    padding: 0px 0px 0px 5px;
    font-size: 18px;
    font-weight: 50;
}


/* Blog */
.blog {
    width: 100vw;
    height: auto;
    background-color: rgb(37,37,37);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blogs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.blog1 {
    width: 30%;
    display: flex;
    flex-direction: column;

}
.blog2 {
    width: 30%;
    display: flex;
    flex-direction: column;

}.blog3 {
    width: 30%;
    display: flex;
    flex-direction: column;

}
.blog1 img {
    width: 80%;
    height: auto;
}
.blog2 img {
    width: 80%;
    height: auto;
}
.blog3 img {
    width: 80%;
    height: auto;
}
.blog h1 {
    color: rgb(255, 255, 255);
    font-weight: 200;
    font-size: 24px;
}
.blog h2 {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 100;
}


/* Info */
.info {
    width: 100vw;
    height: auto;
    background-color: rgb(37,37,37);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 40px 0px 40px;
    color: rgb(114, 114, 114);
}
.info h1 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 200;
}
.info ul {
    list-style: none;
    padding: 0;
}

.helpYou{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.trustpilot {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
}
.trustpilot img {
    max-width: 20%;
    padding: 10px;
}
.usefulInfo{
    width: 30%;
}
.firstToKnow{
    width: 30%;
}


/* Footer */
footer {
    width: 100vw;
    height: auto;
    padding: 50px;
    background-color: rgb(37,37,37);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footpara {
    color: rgb(114, 114, 114);
}
.cardsSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(114, 114, 114);
}
.cards img {
    padding: 0px;
    margin: 0px;
    height: 20px;
}
.googletranslate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.googletranslate p {
    color: rgb(114, 114, 114);
    padding: 14px 50px 14px 14px;
    margin: 2px;
}
.googletranslate img {
    height: 30px;
    width: auto;
}
.googlebox {
    background-color: rgb(0, 0, 0);
}
.backToTop {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.backToTop h3 {
    background-color: rgb(16, 26, 47);
    color: rgb(255, 255, 255);
    padding: 20px;
    font-weight: 100;
    font-size: 12px;
}


.spacer {
    width: 80vw;
    color: rgb(114, 114, 114);
}


/* Text settings */
.smallText {
    text-decoration: none;
    font-size: 11px;
    color: rgb(114, 114, 114);
    padding: 0px 5px 0px 5px;
}
.yellowText {
    color: rgb(253, 230, 56) !important;
}