body {
    width: 100vw;
    background-color: rgb(37,37,37);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* Header */
header {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(37,37,37);
}
.headLeftSide{
    display: flex;
    padding: 0px 0px 0px 15px;
}
.headRightSide{
    display: flex;
    padding: 0px 15px 0px 0px;
}


/* Nav */
nav {
    width: 100vw;
    height: auto;
    background-color:  rgb(37,37,37);
    display: flex;
    flex-direction: row;
}
.navRightSide{
    display: flex;
    flex-direction: row;
}
.navRightSide p {
    padding: 10px 10px 0px 10px;
    font-size: 13px;
    color: rgb(255, 255, 255);
}
.scottsLogo {
    padding: 10px;
    width: 80px;
    height: 25px;
}
.notifications {
    width: 100vw;
    height: auto;
    background-color: rgb(35, 152, 163);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.not1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
}
.not2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
}
.not3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
}
.notifications p {
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 0;
    margin: 4px;
}


/* Sam Fender */
.samFender {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    background-color:  rgb(37,37,37);
    position: relative;
    
}
.samImg{
    width: 100vw;
    height: auto;
}
.samContent {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px;
}
.samLogoImg {
    width: 40%;
    height: auto;
    padding: 0;
    margin: 0;
}
.samContentH1 {
    color: rgb(255, 255, 255) !important;
    margin: 0;
    padding: 5px;
    font-size: 24px;
    font-weight: 100;
}
.samContentH2 {
    color: rgb(255, 255, 255) !important;
    margin: 0;
    padding: 0px 0px 0px 5px;
    font-size: 18px;
    font-weight: 50;
}


/* Get Gifting */
.getGifting {
    width: 100vw;
    height: auto;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.getGiftingH1 {
    color: rgb(110, 221, 252);
    font-weight: 100;

}
.choiceH1 {
    color: rgb(255, 255, 255);
}
.choiceH2 {
    color: rgb(255, 255, 255);
}
.options {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
}
.optionsImg {
    width: 260px;
    height: auto;
}
.products {
    width: 100vw;
    height: auto;
    background-color: orange;
}


/* Brands */
.brands {
    width: 100vw;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.brandsH1 {
    color: rgb(0, 0, 0);
}
.brandLogos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.brandLogos img {
    width: 150px;
    height: auto;
}


/* Harvey */
.harveyJayDodgson {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    background-color:  rgb(37,37,37);
    position: relative;
    
}
.harvFit{
    width: 100vw;
    height: auto;
}
.harvContent {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px;
}
.harvLogoImg {
    width: 70%;
    height: auto;
    padding: 0;
    margin: 0;
}
.harvContentH1 {
    color: rgb(255, 255, 255) !important;
    margin: 0;
    padding: 5px;
    font-size: 24px;
    font-weight: 100;
}
.harvContentH2 {
    color: rgb(255, 255, 255) !important;
    margin: 0;
    padding: 0px 0px 0px 5px;
    font-size: 18px;
    font-weight: 50;
}


/* Blog */
.blog {
    width: 100vw;
    height: auto;
    background-color: lavender;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blogs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.blog1 {
    width: 30%;
    display: flex;
    flex-direction: column;

}
.blog2 {
    width: 30%;
    display: flex;
    flex-direction: column;

}.blog3 {
    width: 30%;
    display: flex;
    flex-direction: column;

}
.blog1 img {
    width: 80%;
    height: auto;
}
.blog2 img {
    width: 80%;
    height: auto;
}
.blog3 img {
    width: 80%;
    height: auto;
}

/* Info */
.info {
    width: 100vw;
    height: auto;
    background-color: rgb(114, 114, 114);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.helpYou{
    width: 30%;
}
.usefulInfo{
    width: 30%;
}
.firstToKnow{
    width: 30%;
}
/* Footer */
footer {
    width: 100vw;
    height: 100px;
    background-color: aqua;
}




/* Text settings */
.smallText {
    text-decoration: none;
    font-size: 11px;
    color: rgb(114, 114, 114);
    padding: 0px 5px 0px 5px;
}
.yellowText {
    color: rgb(253, 230, 56) !important;
}